
.dialogo{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  position: relative;
  &__campos{
    width: 100%;
    &_titulo{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      h3{
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0rem;
        color: var(--gray-900);
      }
    }
  }
  &__table{
    margin-top: 30px;
  }
  mat-grid-list{
    position: absolute;
    margin-top: 10px;
  }
}


.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.ng-container{
  flex: 0 0 100px; 
}
  
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}


.mat-mdc-row{
  padding-bottom: 0px;
}
  
.demo-row-is-clicked 
{
  font-weight: bold;
}

.div-mat-dialog{
  margin-top: 0px;
}
