
.dialogo{
  margin-top: 15px;
  font-size: 15px;
}
.table{
  padding-left: 10px;
  padding-right: 10px;
}
.header{
  font-weight: bold;
}
.content{
  padding-left: 7px;
}
.col-sm-1 {
  flex: 0 0 auto;
  width: 8%;
  padding: 0;
}
.estatisticas{
  padding-top: 15px;
}
.times{
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  img{
    width: 30px;
  }
}