<div class="dialogo">
  <!-- <h3>Partida</h3> -->
  <div class="dialogo__campos">
    <div class="container">
      <div class="container text-center">
        <h3>Estatisticas</h3>
      </div>
      <div class="container">
        <div class="container text-start">
          <div *ngFor="let item of estatisticas">

          </div>
        </div>
      </div>
    </div>
      <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->
<!--     
    
@if (clickedRows.size) {
  <div>
    <h3>
      Selecionados
    </h3>
  </div>
} -->

<!-- <ul>
@for (clickedRow of clickedRows; track clickedRow) {
  <li>{{clickedRow.nome}} {{clickedRow.pros_media.toFixed(2)}}</li>
}
</ul> -->
  </div>
</div>